*{
  margin: 0;
  padding: 0;
}
html{
  text-align: center;
  font-size: 50px;
  
}

header{
  width: 100%;
  height: 300px;
}
nav{
  background-color: #05605F;
  width: 100%;
  height: 60px;
}
main{
  width: 100%;
  height: 500px;
  display: flex;
}
.div1{
  background-color: #DBDDD1;
}
.div2{
  background-color: #5F7262;
}
.div1,.div2{
  width: 50%;
}
footer{
  width: 100%;
  height: 150px;
  background-color: #AAD5C0;
}
