*{
  margin:0;
  padding: 0;
}

/*body *{
  border: 1px solid black;
}*/
/*header+nav//////////////////////////////////////////////////////////////////////*/

header{
  width: 100%;
  background-image: url(../img/fond.png);
  background-repeat: no-repeat;
  background-position:center;
  background-color:  #DBDDD1;
  height: 150px;
  text-align: center;
}
h1{
  padding-top: 50px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: inherit;
}
nav{
  background-color: #05605F;
  width: 100%;
  height: 65px;
  display:flex;
  justify-content: center;
}
nav p:nth-child(1){
  border-left: 2px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(2){
  border-left: 1px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(3){
  border-left: 1px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(4){
  text-align: center;
  border-left: 1px solid white;
  border-right: 2px solid white;
}

nav.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.7;
  z-index:1000;
}
/*animation padding///////////////////////////////////////////////////////////*/
nav p{
  height: 40px;
  padding-top: 20px;
  display: block;
  text-align: center;
  padding: 8px 8px 17px 8px;
  font-size: 2em;
  transition: all .3s .1s;
  position: relative;
}

nav p:hover{
  background-color:  #AAD5C0;
  box-shadow: 2px 3px 10px  #05605F inset;
  color: white;
  padding: 8px 40px 17px 40px;
  transition: all .3s 0s;
}



/*formulaire/////////////////////////////////////////////////////////////////*/

.container{
  margin-top: 60px;
  margin-bottom: 250px;
  width: 100%;
}

form{
  width: 600px;
  height: 500px;
  margin:auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  font-weight: bold;
  color: #AAD5C0;
}

input, label, select{
  width: 230px;
  height: 25px;
  margin-bottom: 20px;
  outline: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  font-weight: bold;
}

.align label{
  display: block;
  float: left;
  margin-left: 50px;
}
.sexe{
  margin-left: 50px;
}
.sexe label{
  vertical-align:top;
}

.femme, .homme{
  width: 150px;
}
input, select{
  background-color: #DBDDD1;
}

fieldset{
  background-color: #5F7262;
  box-shadow: 2px 2px 10px #AAD5C0;
  padding: 10px;
  margin: auto;
  /*border-radius: 10%;*/
}
.button{
  height: 40px;
  width: 140px;
  margin-left: 330px;
  border-radius: 25px 25px 25px 25px;
}
.button:hover{
  background-color: #DBDDD1;
  box-shadow: 2px 2px 2px #AAD5C0 inset;
}


.couleur1{
  content: '';
  width: 700px;
  height: 550px;
  background-color: #05605F;
  position: absolute;
  top: 320px;
  left: 250px;
  z-index: -15;
  box-shadow: 2px 2px 10px #05605F;
}
.couleur2{
  content: '';
  width: 550px;
  height: 450px;
  background-color:  #DBDDD1;
  position: absolute;
  top: 390px;
  left: 50px;
  z-index: -18;
  box-shadow: 2px 2px 10px #05605F;
}
.couleur3{
  content: '';
  width: 600px;
  height: 450px;
  background-color: #AAD5C0;
  position: absolute;
  top: 260px;
  left: 110px;
  z-index: -20;
  box-shadow: 2px 2px 10px #05605F;
}
.couleur4{
  content: '';
  width: 600px;
  height: 450px;
  background-color: #DBDDD1;
  position: absolute;
  top: 320px;
  left: 570px;
  z-index: -15;
  box-shadow: 2px 2px 10px #05605F;
}
.couleur5{
  content: '';
  width: 600px;
  height: 450px;
  background-color: #AAD5C0;
  position: absolute;
  top: 390px;
  left: 650px;
  z-index: -18;
  box-shadow: 2px 2px 10px #05605F;
}
.couleur6{
  content: '';
  width: 550px;
  height: 430px;
  background-color: #05605F;
  position: absolute;
  top: 240px;
  left: 580px;
  z-index: -20;
  box-shadow: 2px 2px 10px #05605F;
}
/*footer/////////////////////////////////////////////////////////////////////*/

footer{
  width: 100%;
  height: 150px;
  background-color: #AAD5C0;
  display: flex;
  justify-content: center;
}
ul{
  text-align: center;
  list-style:none;
}
.lien{
  padding-top: 45px;
}
.icone{
  margin-right: 50px;
  font-size: 3em;
  padding-top: 50px;
}
.icone span{
  margin-left: 20px;
}
