/* Teal (vert sombre) #05605F
Crimson (rouge orangé) #E52C27
Gainsboro (gris clair) #DBDDD1
Slate gray (gris bronze) #5F7262
Ligth steel blue (bleu clair) #AAD5C0 */

/* font-family: 'Cormorant Garamond', serif;
font-family: 'Proza Libre', sans-serif; */

*{
  margin: 0;
}

html{
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
}

h1 {
padding-top:250px;
padding-bottom:250px;
font-size: 4em;
color:#ffffff;
letter-spacing: 10px;
text-shadow: 3px 3px 2px #E52C27;
background-color:rgba(95, 114, 98,0.3);
}

h2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight:500;
  text-transform: uppercase;
}

h3{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight:500;
  text-transform: uppercase;
}

p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3em;
  text-align: justify;
}

header{
  width: 100%;
  background-color: #AAD5C0;
  justify-content: center;
}

#main_title {
background-image: url("entête.jpeg");
}

/* Menu Simplhotel */

.menu {
	line-height: 2;
	margin: 0 auto 4em;
}

.menu__list {
	position: relative;
	display: flex;
	list-style: none;
}

.menu__link {
  text-decoration: none;
  font-family: 'Proza Libre', sans-serif;
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu--simplhotel .menu__item {
	position: relative;
	display: flex;
	align-items: center;
	margin:0 3.75em;
}

.menu--simplhotel .menu__item::before {
	content: '';
	position: absolute;
  width: 10px;
	height: 10px;
	background: #ffffff;
  border-radius: 50%;
  border-style: double;
  border-color: #000;
}

.menu--simplhotel .menu__item.menu__item--current::before {

}

.menu--simplhotel .menu__link {
	position: relative;
	color: #000000;
}

.menu--simplhotel .menu__link:hover,
.menu--simplhotel .menu__link:focus {
	color: #E52C27;
}

.menu--simplhotel .menu__item.menu__item--current .menu__link {
	color: #05605F;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
  letter-spacing: -2px;
	font-size: 1.3em;
	font-weight: 500;
	padding: 1em;
	cursor: pointer;
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}
/* ==== Carrousel ==== */


div#slider {
   width: 80%;
   max-width: 1000px;
   margin: auto;
   margin-bottom: 50px;
  }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
div#slider figure img {
  width: 20%;
  height: 708px;
  float: left;
}
div#slider {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;

}
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  30% { left: -100%; }
  40% { left: -100%; }
  50% { left: -200%; }
  60% { left: -200%; }
  70% { left: -300%; }
  80% { left: -300%; }
  90% { left: -400%; }
  100% { left: -400%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 20s slidy infinite;
  animation-direction:alternate;
}
/*=================body Accueil================*/
article{
  margin-bottom: 30px;
  border: 1px solid black;
}

.galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img{
  margin-right: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

.img a{
  position: relative;
  bottom: 300px;
}
.img:hover p{
  opacity: 1;
  transition: 0.5s;
}
a > p{
  font-size: 1.8em;
  padding-top: 125px;
  font-weight:500;
  font-family: 'Proza Libre', sans-serif;
  color: white;
  text-shadow: 3px 3px 1px black;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  text-transform: uppercase;
}

a{
  text-decoration: none;

}
/* ==== body hôtels ==== */

.main_hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hotels {
  width: 400px;
  height:500px;
}

#hotels h3 {
  font-size: 1.35em;
}

#main_title_hotels {
  background-image: url("entete.jpeg");
  background-size:cover ;
  background-repeat: no-repeat;
}

#titre_hotels {
  font-size: 2em;
}

#cut {
  display: flex;
  justify-content: space-between;
}

#map_canvas {
  height: 700px;
  width: 900px;
  margin:50px auto;
}

#hotels a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.5em;
}

#hotels li {
  margin-top: 5px;
}

#hotels ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ==== body chambres ==== */

.c1, .c3, .c5{
  background-color: #DBDDD1;
  margin: 10px 0px 10px 20px;
  display: flex;
}

.c2, .c4{
  background-color: #5F7262;
  margin: 20px 40px 20px 0px;
  display: flex;
}

.img_c1, .img_c2, .img_c3, .img_c4, .img_c5{
  height: 100%;
}

.c1_p2, .c2_p1, .c3_p2, .c4_p1, .c5_p2{
 margin: 20px 40px 20px 40px;
}

.infos_sup_clair {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.1em;
  text-align: justify;
  font-weight: lighter;
  float:left;
  text-decoration: none;
  color:#E52C27;
  letter-spacing: 3px;
  margin-bottom:5px;
}

.infos_sup_foncé {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.1em;
  text-align: justify;
  font-weight: lighter;
  float:left;
  text-decoration: none;
  color:#DBDDD1;
  letter-spacing: 3px;
  margin-bottom:5px;
}

/* ==== Main contact ==== */

.main_contact {
  display: flex;
  justify-content: center;
}

.form {
  background:#DBDDD1;
  padding: 100px 125px 100px 125px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3em;
  text-align: right;
  border-radius:1px;
}

.form .fas {
  font-size: 1.6em;
  float:left;
  justify-content: left;
}

.form .far {
  font-size: 1.6em;
  float:left;
  justify-content: left;
}

#name, #email, #phone{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 30px;
}

textarea {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.0em;
  color:black;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 5px;
width:90%;
height:200px;
padding-top: 15px;
padding-left: 50px;
}

label > i{
  margin-right: 25px;
}

span{
  margin-right: 25px;
}

button{
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 25%;
	border-radius:1px;
	background:;
	font:1.4em;
  font-family: 'Proza Libre', sans-serif;
	color:#000000;
  line-height: 1;
  margin-top: 15px;
  padding: 1em 4em;
  background: none;
  border: 2px solid;
}

button:hover{

}

/* ==== back to top ==== */

.to-top{
	color:#000000;
	padding-top:1.5em;
	display:inline-block;/* or block */
	position:relative;
	border-color:#000000;
	text-decoration:none;
	transition:all .3s ease-out;
}
.to-top:before{
	content:'▲';
	font-size:2.5em;
  font-weight: lighter;
  font-family: 'Proza Libre', sans-serif;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .07em black;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:#E52C27;
	border-color:#E52C27;
}
.to-top:hover:before{
	transform: rotate(360deg);
}

/*formulaire de réservation/////////////////////////////////////////////////////////////////*/

.container_reservation {
  display: block;
  padding: 100px 275px 100px 275px;
  background-image: url(../img/font.jpg);
  background-repeat: no-repeat;
  border-radius:1px;
}

.text_reservation{
  background-color: rgba(95, 114, 98, 0.6);
  color: #AAD5C0;
  margin: auto;
  border: 2px solid #AAD5C0;
  box-shadow: 2px 2px 10px #AAD5C0;
  text-align: justify;
  padding:25px 100px 25px 100px;
}

.form_reservation{
  background-color:rgba(219, 221, 209,0.5);
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.3em;
  color: #000000;
  margin-top:25px;
  border-radius:1px;
  text-align:left;
  justify-content: left;
  padding:50px 100px 50px 100px;
}

fieldset{
  background-color: rgba(95, 114, 98, 0.6);
  box-shadow: 2px 2px 10px #AAD5C0;
  max-width:175%;
}

.input_reservation {
  float: right;
margin-right: 25px;
width:250px;
height: 30px;
font:1.4em;
font-family: 'Proza Libre', sans-serif;
}

.label_reservation {
padding-left:25px;
}

.select_reservation {
  width:269px;
  height: 37px;
  float: right;
margin-right: 25px;
font:1.4em;
font-family: 'Proza Libre', sans-serif;
}

.button_reservation {
	border-radius:1px;
	font:1.4em;
  font-family: 'Proza Libre', sans-serif;
  color:#ffffff;
  line-height: 1;
  margin-top: 15px;
  padding: 1em 4em;
  background: none;
  border: 2px solid;
}

.button_reservation:hover{
  color:#000;
  box-shadow: 2px 2px 1px 1px #AAD5C0;
}

.label_reservation {

}


/* **************************footer********************** */

footer{
  background-image: radial-gradient(circle at top left, #DBDDD1, #AAD5C0);
  display: flex;
}

#left {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:stretch;
}

#right {
  flex:1;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:stretch;
}

#resos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#right h3 {
  text-align: left;
}

.text_footer {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  padding-left: 25px;
}

.text_footer_left {
  margin-left:50px;
}

footer .fas {
  font-size: 1.6em;
}

.fab {
  letter-spacing: 30px;
  text-decoration: none;
  font-size: 3em;
  margin-right: : 25px;
  color: #000;
}

.fa-facebook:hover, .fa-twitter-square:hover, .fa-instagram:hover, .fa-discord:hover{
  transform: rotate(360deg);
  transition: 1s;
}

.coordonnees {
  display: flex;
  margin-left: 50px;
  margin-top:15px;
}

#aboutus {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
}
