/* ==== Master ==== */

*{
  margin: 0;
  padding: 0;
}

html{
  text-align: center;
  font-weight: 1.5 bold;
  font-family: 'Proza Libre', sans-serif;
}

p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

h2{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ==== Header ==== */

header{
  height: 150px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

/* ==== Nav ==== */
/* ==== body ==== */

.c1, .c3, .c5{
  background-color: #DBDDD1;
  margin: 20px 0px 20px 40px;
  display: flex;
}

.c2, .c4{
  background-color: #5F7262;
  margin: 20px 40px 20px 0px;
  display: flex;
}

.img_c1, .img_c2, .img_c3, .img_c4, .img_c5{
  width: 450px;
}

.c1_p2, .c2_p1, .c3_p2, .c4_p1, .c5_p2{
 margin: 10px 20px 10px 20px;
}
